@model List<Wantoeat.Web.ViewModels.Recipes.RecipeSimpleViewModel>

@{
    ViewData["Title"] = "SortRecipes";

    // TODO: Refactor this!
    var category = new Dictionary<string, string>()
{
        { "Meat", "Meat" },
        { "Pasta", "Pasta" }
    };
}

<div class="mb-5">
    <h1 class="display-4">Look for your recipe</h1>
</div>

<div class="d-flex justify-content-between">
    <div id="products-search-bar-holder" class="form-group d-flex justify-content-between w-50">
        <input type="text" class="form-control text-primary" id="products-search-bar" name="search" placeholder="Search..." />
    </div>
    <div id="sort-holder" class="form-group w-40 d-flex justify-content-between">
        <label for="sort" class="text-right">Sort By: </label>
        <form id="order-form" action="AllRecipes" method="get">
            <select id="sort" class="form-control text-primary pl-2 ml-3 w-70" name="category">
                @if (this.ViewData["category"] == null)
                {
                    <option selected>None</option>
                }
                else
                {
                    <option>None</option>
                }
                @foreach (var elem in category)
                {
                    if (elem.Key == (string)this.ViewData["category"])
                    {
                        <option value="@elem.Key" selected>@elem.Value</option>
                    }
                    else
                    {
                        <option value="@elem.Key">@elem.Value</option>
                    }
                }
            </select>
        </form>
    </div>
</div>
<hr class="hr-2">
<div class="mt-3">
    @foreach (var blq in Model)
    {
        <div class="product col-md-2">
            <div class="image-holder d-flex justify-content-center">
                <a href="/Recipes/Details/blq.Id">
                    <img class="img-thumbnail product-image" src="@Url.Content(blq.ImagePath)" alt="...">
                </a>
            </div>
            <h5 class="text-primary text-center mt-3">@blq.Name</h5>
        </div>
    }
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
    $('#sort').change(function () {
        $('#order-form').submit();
    });

    $('#sort2').change(function () {
        $('#order-form').submit();
    });


    $('#products-search-bar').on("change paste keyup", function () {
        $('.product').show();

        let searchValue = $('#products-search-bar').val();

        for (let elem of $('.product')) {
            let productName = $($(elem).children()[1]).text();

            if (!productName.toLowerCase().includes(searchValue.toLowerCase())) {
                $(elem).hide();
            }
        }
    });
</script>
