@model Wantoeat.Web.ViewModels.Recipes.RecipeAllViewModel

@{
    this.ViewData["Title"] = "Result";
}

<div class="text-center mb-5">
    <h1 class="display-4">Your best matches are...</h1>
</div>

@{
    @if (Model.Ingredients.Count() != 0)
    {
        <p>Your ingredients:</p>
        <ul>
            @foreach (var item in @Model.Ingredients)
            {
            <li>@item.Name</li>
            }
        </ul>
    }
    else
    {
        <h6>
            Allergens to avoid:
            @foreach (var item in @Model.Allergens)
            {
                <p>@item.Name</p>
            }
        </h6>
    }

}

<div class="row">
        @Html.DisplayFor(x => x.Recipes)
</div>

